@model int

@{
    ViewData["Title"] = "Dados de vendas para gráfico - Not Found"; 
}

<div class="alert alert-danger mt-1 mb-1">
    <h1>Erro - Dados de vendas para gráfico - Not Found</h1>
    <hr />
    <h3>
        @ViewData["Mensagem"]
    </h3>
</div>


<a asp-action="Index" asp-controller="Admin" class="btn btn-outline-success">
    <p>Retornar para a tela de administração</p>
</a>